.admin-sidebar {
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 80px; /* Same as Navbar height to not overlap */
    left: 0;
    /* Removed padding-top: 80px; */
    z-index: 998; /* Below navbar */
    transition: width 0.3s ease;
}

.admin-sidebar.collapsed {
    width: 80px;
}

.admin-sidebar-header {
    padding: 1rem;
    display: flex;
    justify-content: flex-start; /* Left-justify when expanded */
    align-items: center;
}

.admin-sidebar.collapsed .admin-sidebar-header {
    justify-content: center; /* Center when collapsed */
}

.sidebar-toggle-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0; /* Remove default button padding */
    display: flex; /* Use flex to center icon if needed */
    align-items: center;
    justify-content: center;
    width: 24px; /* Match icon width */
    height: 24px; /* Match icon height */
}

.admin-sidebar:not(.collapsed) .sidebar-toggle-button {
    margin-left: 0.5rem; /* Adjust as needed */
}


.admin-sidebar-nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.admin-sidebar-nav-item {
    width: 100%;
}

.admin-sidebar-nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 1rem 1.5rem;
    font-size: 1.1rem;
    transition: all 0.2s ease-out;
    white-space: nowrap;
    overflow: hidden;
}

.admin-sidebar.collapsed .admin-sidebar-nav-links {
    justify-content: center;
    padding: 1rem;
}

.admin-sidebar-nav-links:hover {
    background-color: #ffffff33;
}

.admin-sidebar-nav-links.active {
    background-color: #ffffff33;
    border-left: 4px solid #6a11cb;
}

.admin-sidebar.collapsed .admin-sidebar-nav-links.active {
    border-left: none;
    border-bottom: 4px solid #6a11cb;
}

.admin-sidebar-nav-links svg {
    margin-right: 1rem;
    font-size: 1.5rem;
    min-width: 24px; /* Ensure icon size is consistent */
    transition: margin 0.3s ease;
}

.admin-sidebar.collapsed .admin-sidebar-nav-links svg {
    margin-right: 0;
}

.admin-sidebar-nav-links span {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.admin-sidebar.collapsed .admin-sidebar-nav-links span {
    opacity: 0;
    width: 0;
}
