/* EditClientModal.css */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.modal-overlay.show {
    opacity: 1;
}

.modal-content {
    background: white;
    padding: 2rem;
    border-radius: 1rem;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transform: scale(0.9);
    transition: transform 0.3s ease;
}

.modal-overlay.show .modal-content {
    transform: scale(1);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.modal-header h2 {
    margin: 0;
    font-size: 1.5rem;
}

.close-button {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #888;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid #eee;
}

.cancel-button, .save-button {
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.cancel-button {
    background-color: #f0f0f0;
    color: #333;
}

.cancel-button:hover {
    background-color: #e0e0e0;
}

.save-button {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
}

.save-button:hover {
    opacity: 0.9;
}

/* New styles for profile photo upload */
.modal-content .photo-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.modal-content .profile-photo-preview {
    margin-bottom: 1rem;
    text-align: center;
}

.modal-content .profile-photo-preview .current-profile-photo {
    max-width: 150px;
    max-height: 150px;
    border-radius: 8px;
    object-fit: cover;
    border: 1px solid #eee;
}

.modal-content .profile-photo-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
    color: #6a11cb;
    font-size: 3rem;
    font-weight: bold;
    border-radius: 1rem;
    width: 150px;
    height: 150px;
    margin-bottom: 1rem;
    border: 1px solid #eee;
}

.modal-content .delete-photo-button {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 0.9rem;
    margin-top: 1rem;
    width:30%;
}

.modal-content .delete-photo-button:hover {
    opacity: 0.9;
}