.client-layout {
    display: flex;
}

.client-content {
    flex-grow: 1;
    padding: 2rem 5rem;
    margin-left: 250px; /* Match sidebar width */
    width: calc(100% - 250px);
    transition: margin-left 0.3s ease, width 0.3s ease;
    height: calc(100vh - 80px); /* Account for Navbar height */
    overflow-y: auto; /* Make this area scrollable */
    box-sizing: border-box; /* Include padding in height calculation */
}

.client-layout.collapsed .client-content {
    margin-left: 80px; /* Match collapsed sidebar width */
    width: calc(100% - 80px);
}
